Django==5.0.7
djangorestframework==3.15.2
django-channels==4.1.0
channels==4.1.0
channels-redis==4.2.0
celery==5.4.0
redis==5.0.8
psycopg2-binary==2.9.9
drf-spectacular==0.27.2
python-dotenv==1.0.1
requests==2.32.3
FastAPI==0.115.0
uvicorn[standard]==0.30.6
gpt4all==2.8.7
python-multipart==0.0.9
